#intro {
   height: calc(100vh - 4rem);
   width: 100vw;
   max-width: 75rem;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bgDiv {
   position: relative;
   width: 100%;
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
   z-index: -1;
   object-fit: cover;
   height: 50vh; 
   width: 50vh; 
   border-radius: 50%; 
   background-color: #ff9500; 
   transition: transform 0.3s ease-in-out; 
}

.bg:hover {
   transform: translate(-50%, -50%) scale(1.05); 
}

.introContent {
   z-index: 1;
   height: 100vh;
   width: 100vw;
   padding: 2rem;
   font-size: 3rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: white;
}

.introName {
   color: #ffa704;
}

.introPara {
   font-size: medium;
   font-weight: 300;
}

.btn {
   background: #ffa704;
   margin: 1rem auto;
   padding: 0.75rem 1.5rem;
   border: none;
   border-radius: 2rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 0.3s ease;
}

.btn:hover {
   font-weight: 500;
   transition: all 0.3s ease-in-out;
   background-color: #ffa200; /* Slightly darker yellow for hover effect */
}

.btnImg {
   object-fit: cover;
   margin: 0 0.25rem;
   height: 1rem;
}

@media screen and (max-width: 840px) {
   .bg {
      right: 9vw;
   }
   .introContent {
      font-size: 1rem;
      text-align: left;
      min-width: fit-content;
      padding-bottom: 0rem;
   }
   .hello {
      font-size: 2.75rem;
      font-weight: 200;
   }
   .btn{
      padding: 0.45rem 0.85rem;
   }
}

@media screen and (max-width: 480px) {
   .bg {
      right: -19vw;
   }
}
