.footer{
   width: 100vw;
   height: 4rem;
   background: #1A1A1A;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 300;
   font-size: small;
}
.footer{
   text-align: center;
   padding: 1rem;
}
